/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 #rakusu-social-share-bottom {
   display: block;
 }

#rakusu-social-share-bottom,
#rakusu-social-share-bottom div {
    position: static;
}

#rakusu-social-share-bottom div {
  overflow: auto;
}

#rakusu-social-share-bottom div h5::after {
  content: ':';
}

#rakusu-social-share-bottom div h6 {
  float: left;
  margin-top: .5em;
  margin-right: 1em;
  font-size: .8em;
}

#rakusu-social-share {
  display: none;
}

@media(min-width: 65rem) {
  #rakusu-social-share-bottom {
    display: none;
  }

  #rakusu-social-share {
    display: block;
    position: relative;
    bottom: 5rem;
    left: -10rem;
    opacity: 0;
    transition: opacity .3s 0s;
  }

  #rakusu-social-share div {
    position: fixed;
  }

  #rakusu-social-share div h5::after {
    content: '';
  }

  #rakusu-social-share div h6 {
    float: none;
    margin-top: 1em;
    margin-right: 0;
    font-size: .8em;
  }
}
